#head{
    display: flex;
    justify-content: flex-end;
    background: #388E3C;
    padding: 1.5rem;
}

.login{
    display: flex;
    justify-content: space-around;
    width: 250px;
}

body{
    margin: 0;
}